@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
}

@theme {
  --color-tazkeer-deep: #2d3e33; /* Deep Forest Green */
  --color-tazkeer-sage: #8daa91; /* Soft Sage */
  --color-tazkeer-sand: #f9f7f2; /* Warm Paper White */

  @keyframes soft-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

body {
  font-family: "Inter", sans-serif;
  border-radius: 10rem;
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}
